/* ! Style pour le formulaire */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

main {
  height: 100vh;
  background-color: azure;
}

/* * BARRE DE NAVIGATION */
nav {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  padding: 0 100px;
}

nav ul {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

nav ul li a:hover {
  color: rebeccapurple;
}

/* *FORMULAIRE */

section {
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 150px;
}

section form {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conteneur {
  display: flex;
  flex-direction: column;
}

.tache {
  margin-right: 20px;
}

#tache {
  margin-right: 100px;
}

#button {
  width: 5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  margin-right: 20px;
}

#button:hover {
  background-color: rebeccapurple;
  cursor: pointer;
}

.liste {
  width: 30vw;
  height: 10vh;
  background-color: white;
  box-shadow: 3px 3px 10px gray;
  border-radius: 5px;
}

/* !COLOR */
.color {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px 0;
}

label {
  margin: 10px 0;
}

button {
  margin-top: 10px;
}
